:root {
  --clr-dark: #111827;
  --clr-light: #f3f4f6;
  --clr-accent: #84cc16;

  --fs-base: 0.875rem;
}

body {
  margin: 2rem auto;
  padding: 0 2rem;
  color: var(--clr-light);
  background-color: var(--clr-dark);
  font-size: var(--fs-base);
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

@media (min-width: 600px) {
  body {
    width: 80%;
  }
}

@media (min-width: 1024px) {
  body {
    width: 50%;
  }
}
